[submodule "api"]
	path = api
	url = git@github.com:JDeepD/gc-alpha-backend.git
[submodule "website"]
	path = website
	url = git@github.com:Jugya07/eLibrary.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:Jugya07/frontendPowerthon.git
[submodule "backend"]
	path = backend
	url = git@github.com:JDeepD/gc-alpha-backend.git
